.admin-container{
    min-height: 100vh;
}

.admin-subtitle{
    font-size: 20px;
    color: white;
    text-decoration: underline;
    display: flex;
    width: 100%;
    justify-content: center;
}

.admin-subcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 85vh;
    padding-bottom: 60px;
}

.admin-inputcontainer{
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: rgba(214, 214, 214, 0.582);
    backdrop-filter: blur(3px);
    border: 2px solid white;
    border-radius: 5%;
}

.admin-singleinput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.admin-inputcontainer input {
    width: 80%;
    height: 35px;
    color: white;
    background-color: black;
    font-size: 17px;
}

.admin-inputuppertxt{
    display: flex;
    justify-content: flex-start;
    color: white;
    width: 80%;
    font-size: 20px;
}