.App{
    font-family: 'Uncial Antiqua', cursive;
    background-image: url("https://w7.pngwing.com/pngs/932/340/png-transparent-stone-wall-brickwork-tile-wall-texture-building-leather-thumbnail.png");
}

.text-link{
    text-decoration: none;
    color: white;
}

.text-link:hover{
    text-decoration: underline;
}

.goback-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.goback-container img {
    margin-left: 35px;
}

.main-container{
    min-height: 100vh;
}