.hdr-container{
    height: 170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(122, 122, 122);
    margin-bottom: 15px;
}

.hdr-logo-container{
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("https://www.goodtextures.com/cache/6935b55a/av5af26421fcf489d2655.png");
}

.hdr-title{
    font-size: 50px;
}