.prddply-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 80vh;
    height: 100%;
    width: 100%;
}

.prddply-title{
    color: white;
    text-decoration: underline;
}

.prddply-subcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px 0px 50px 0px;
}