.prdcrd-container{
    width: 20%;
    height: 500px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prdcrd-subcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
    border: 2px solid white;
    border-radius: 5%;
    background-color: rgba(214, 214, 214, 0.582);
    backdrop-filter: blur(3px);
}

.prdcrd-namecont{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.prdcrd-name{
    text-align: center;
}

.prdcrd-divider{
    height: 5px;
    width: 80%;
    background-color: black;
    margin: 15px 0;
}

.prdcrd-info{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.prdcrd-description{
    text-align: center;
}

.prdcrd-price{
    width: 100%;
    display: flex;
    justify-content: center;
}