.prdcrd-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 16%;
    border: 2px solid white;
    border-radius: 5%;
    transition: transform 300ms ease-in-out;
    background-color: rgba(214, 214, 214, 0.582);
    backdrop-filter: blur(3px);
}

.prdcrd-container:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: transform 300ms ease-in-out;
}

.prdcrd-namecont{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prdcrd-name{
    text-align: center;
}

.prdcrd-divider{
    height: 5px;
    width: 80%;
    background-color: black;
    margin: 15px 0;
}

.prdcrd-info{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.prdcrd-description{
    text-align: center;
}

.prdcrd-price{
    width: 100%;
    display: flex;
    justify-content: center;
}